.sidebar {
  padding: 1rem;
  grid-area: sidebar;
}

.sidebar h2 {
  margin: 0;
}

.folders {
  padding-left: 0;
}

.folders, .documents {
  list-style: none;
}

.documents {
  padding-left: 1rem;
}

.folder h3, .document span {
  margin: 0.5rem;
  display: inline-block;
}

.folder svg {
  width: 18px;
}